<div class="wrapper-player1">
<div class="heading-for-player">
  <div>{{gamer1}}</div>
  <div class="score">{{count}}</div>
</div>
<table>
  <tr>
    <td class="letters"></td>
    <td class="letters">a</td>
    <td class="letters">b</td>
    <td class="letters">c</td>
    <td class="letters">d</td>
    <td class="letters">e</td>
    <td class="letters">f</td>
    <td class="letters">g</td>
    <td class="letters">h</td>
    <td class="letters">i</td>
    <td class="letters">j</td>
  </tr>
  <tr>
    <td>1</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
  </tr>
  <tr>
    <td>2</td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
  </tr>
  <tr>
    <td>3</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
  </tr>
  <tr>
    <td>4</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
  </tr>
  <tr>
    <td>5</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
  </tr>
  <tr>
    <td>6</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
  </tr>
  <tr>
    <td>7</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
  </tr>
  <tr>
    <td>8</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
  </tr>
  <tr>
    <td>9</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbHit (click)="onDisplayVict()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
  </tr>
  <tr>
    <td>10</td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
    <td bbMiss (click)="onDisplayLose()"></td>
  </tr>
</table>
<div class="speech" [textContent]="speech"></div>
</div>
